@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.App {
  text-align: center;
  font-family: 'Bungee', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-font {
  font-family: 'Bungee', cursive;
}

body {
  font-family: 'Bungee', cursive;
  /* background-image: url("./images/background.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(33, 11, 3);
  height: 100vh; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color:  rgb(0 0 0 / 45%);
}

.fa-user:hover {
  color: #eee;
}

.editIcon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.avatar {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.avatar:hover .overlay {
  opacity: 1;
}

label {
  margin: 10px;
  color: white;
  text-shadow: 0 0 50px green, 0 0 40px red, 0 0 30px black, 0 0 10px blue;
}

input {
  border-radius: 15px;
  backdrop-filter: blur(1);
}

button {
  border-radius: 20px;
  background: transparent;
  border: none;
}

.btn-custom {
  border-radius: 15px;
  width: 55%;
}

.button-text {
  margin-top: -40px;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#parentReward.modal-dialog {
  max-width: 80%;
}

#parentVideo.modal-dialog {
  max-width: 75%;
}

@media screen and (max-width: 480px) {
  #parentReward.modal-dialog {
    max-width: 100%;
  }
  
  #parentVideo.modal-dialog {
    max-width: 100%;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
